body {
    background-color: white;
    margin: 0;
    padding: 0;
}
/* Estilos del menú desplegable */
/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
} */

/* Estilos generales del menú */
.header1 {
    
    /* background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; */
    background-image: url('./images/pxfuel.jpg');
            background-size:cover;
            background-attachment: fixed; /* Fija la imagen de fondo */
            height: 25vh;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
}
header {
    
    /* background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; */
    background-image: url('./images/pxfuel.jpg');
            background-size: cover;
            background-attachment: fixed; /* Fija la imagen de fondo */
            height: 50vh;
            /* padding: 100px 0; */
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
}
/* Estilos del contenido */
.content {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}
/* Estilos del efecto parallax */
.parallax {
    background-image: url('./images/pxfuel1.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen de fondo */
    padding: 100px 0;
    color: white;
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none; /* Esto quita el subrayado predeterminado de los enlaces */
}

p {
    margin-bottom: 20px;
}

nav {
    text-align: center;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.story {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.team {
    font-weight: bold;
    color:blue;
}
.mission {
    font-style: italic;
}


/* add in ingex */
.challenge {
    background-color: #fff;
    /* background-image: url('./images/pxfuel1.jpg');
    background-size: cover; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.game-title {
    font-size: 24px;
    font-weight: bold;
    color: #007acc;
}
.major-challenges {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
.goal {
    font-style: italic;
}
.join-us {
    font-weight: bold;
    color: #007acc;
}

.experience {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}
.decision {
    font-weight: bold;
    color: #007acc;
}

.objective {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
/* impact */
.impact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.impact-title {
    font-size: 24px;
    font-weight: bold;
    color: #007acc;
}
.impact-description {
    font-style: italic;
}

/* imagens en grill */

/* .image {
    width: 50%; Tamaño fijo de 200px para el ancho
    height: 300px; Tamaño fijo de 150px para el alto
    overflow: hidden; Oculta el contenido que exceda el tamaño
    display: flex; Utiliza un contenedor flex para centrar vertical y horizontalmente
    align-items: center; Centra verticalmente
    justify-content: center; Centra horizontalmente
} */
.image img {
    max-width: 50%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura */
    
}