body {
    background-color: white;
    margin: 0;
    padding: 0;
}
/* Estilos del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Estilos generales del menú */
header {
    
    /* background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; */
    background-image: url('./images/pxfuel.jpg');
            background-size: cover;
            background-attachment: fixed; /* Fija la imagen de fondo */
            height: 100vh;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
}
/* Estilos del contenido */
.content {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}
/* Estilos del efecto parallax */
.parallax {
    background-image: url('./images/pxfuel1.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen de fondo */
    padding: 100px 0;
    color: white;
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none; /* Esto quita el subrayado predeterminado de los enlaces */
}
p {
    margin-bottom: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

